<h1>All Users</h1>

	<% @users.each do |user| %>
	<ul>
		<li> <%= link_to user.name, user_path(user) %> </li>
			<% if current_user==user %>
			<%= link_to 'edit', edit_user_path(user) %> | 
			<%= link_to 'delete', user_path(user), method: :delete,
				data: {confirm: "Are you sure?"} %>
			<%end%>
</ul>

<%end%>